*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Microsoft YaHei;
    font-size: 15px;
    color: #606060;
    background: #f5f5f5;
}
#header{
    background: #fafafa;
    height: 40px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 1px;
}
#header .header_left{
    float: left;
}
#header .header_right{
    float: right;
}
#header .header_in{
    height: 40px;
    width: 1190px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 40px;
}
#header .header_in .header_li{
    float: left;
}
#header .header_in .header_li a{
    color: #303030;
    padding: 0 20px 0 19px;
    border-right: 1px solid #d6d6d6;
}
#header .header_in .header_li a:hover{
    color: #fc5300;
}
#header .header_in .header_li{
    float: left;
}
#header .header_in .header_li .inner_ul{
    position: absolute;
    background: #fafafa;
    z-index:10;
    display: none;
}
#header .header_in .header_li .inner_ul .inner_li{
    width: 100px;
    text-align: center;
    height: 40px;
}
#header .header_in .header_li .inner_ul .inner_li a{
    border-top: 1px solid #d6d6d6; 
    padding: 8px;
    border-right: 0; 
}
#header .header_in .header_right li:hover .inner_ul{
    display: block;
}
#main .title{
    height: 50px;
    text-align: center;
    line-height: 50px;
    letter-spacing:5px;
}
#main .center{
    position: relative;
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}
#main .lunbotu{
    width: 400px;
    height: 500px;
    position: absolute;
    left: 50px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #AAA
}

#main .lunbotu .pic{
    position: absolute;
}
#main .lunbotu .pic img{
    width: 400px;
    height: 500px;
}
#main .lunbotu .lbt_ul{
    position: absolute;
    bottom: 5px;
    left: 170px;
    list-style: none;
}
#main .lunbotu .lbt_ul .lbt_li{

    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background:#000000;
}
#main .lunbotu .right {
    position: absolute;
    top: 200px;
    right: 0px;
}
#main .lunbotu .left{
    position: absolute;
    top: 200px;
}
#main .lunbotu .btn:hover{
    opacity: 0.6;
}
#main .center .center_right{
    width: 500px;
    height: 600px;
    position: absolute;
    left: 500px;
}
#main .center .center_right {
    margin-top: 30px;
    line-height: 50px;
    color: #333;
}
#main .center .center_right .content{
    margin-left: 60px;
}
#main .center .center_right{
    color: #AAA;
}
#main .center .center_right .price span{
    color:#fc5300;
    font-size: 18px;
}
#main .center .center_right .content,.goodsClass span,.contact span{
    color: #333;
}
#main .center .center_right form .reserve{
    border: 1px solid #AAA;
    background: #fc5300;
    width: 130px;
    height: 50px;
    border-radius: 3px;
    font-size: 17px;
    color: white;
    letter-spacing: 8px;
    opacity: 0.9;
    margin:50px 0 0 50px;
}
#main .center .center_right form .reserve:hover{
    opacity: 1;
}
footer .bound{
    text-align: center;
    height:30px;
    margin: 0 auto;
    width: 600px;
}
footer .bound div{
    margin-top: 14px;
    height: 2px;
    width: 250px;
    background: #9a9a9a;
}
footer .bound .left{
    float: left;
}
footer .bound .right{
    float: right;
}
footer .bound span{
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #6b6b6b;
}
footer .text{
    height: 50px;
    background:#a6a6a6;
    position: relative;
}
footer .text p{
    position: absolute;
    bottom: 0;
    right:10px;
    color: #363636
}
footer .text address{
    color: #363636;
}