<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Exit</servlet-name>
    <servlet-class>servlet.Exit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SellGoods</servlet-name>
    <servlet-class>servlet.SellGoods</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyGoods</servlet-name>
    <servlet-class>servlet.BuyGoods</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CancelGoods</servlet-name>
    <servlet-class>servlet.CancelGoods</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WantGoods</servlet-name>
    <servlet-class>servlet.WantGoods</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SellWantGoods</servlet-name>
    <servlet-class>servlet.SellWantGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/servlet/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/servlet/Exit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellGoods</servlet-name>
    <url-pattern>/servlet/SellGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyGoods</servlet-name>
    <url-pattern>/servlet/BuyGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelGoods</servlet-name>
    <url-pattern>/servlet/CancelGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WantGoods</servlet-name>
    <url-pattern>/servlet/WantGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellWantGoods</servlet-name>
    <url-pattern>/servlet/SellWantGoods</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>filter.Filter</filter-class>
    <init-param>    
		<param-name>excludedPages</param-name>    
		<param-value>/html/index.jsp</param-value>    
	</init-param>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/Filter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>BuyGoods</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>CancelGoods</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>Exit</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>HelloServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>SellGoods</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>SellWantGoods</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>WantGoods</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/html/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>